@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

$gutter: 0em;

@import 'bower_components/neat/app/assets/stylesheets/neat';

html{
  background-color: RGBA(122, 140, 157, 1);
}

* {
	box-sizing: border-box;
	outline: none;
}

div{
  border: 2px solid gray;
}

ul{
  list-style-type: none;
}

.artist-image{
  width: 100px;
  height: 100px;
}

.x-container{
  @include outer-container(980px);
  height: 300px;
  overflow: auto;
  margin: auto;
 top: 0; left: 0; bottom: 0; right: 0;
}

.player-control{
 @include span-columns (4);
 height: 200px;
 text-align: center;
}

.player-control i{
  font-size: 5em;
  line-height: 200px;
  margin:auto;
}

.playback-container{
  @include span-columns (8);
  height: 100px;
}

.time-scrubber{
  @include span-columns (8);
  height: 100px;

}

.info-buy-footer{
  height: 100px;
  @include span-columns (12);
}

.info-buy-footer{
  font-size: 1.5em;
}

.info-buy-footer li{
  @include span-columns (3);
  display: inline-block;
  text-align: center;
}
